.flagedTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flagedTitle__text {
  text-transform: uppercase;
  font-size: 48px;
  color: #FE4421;
  text-shadow: 2px 2px 0 rgba(80, 24, 0, 0.85);
}

.flagedTitle--Subtitle {
  font-size: 36px;
  color: #000000;
  text-transform: uppercase;
}
