.footerSection {
  background: url("img/bg.png") #21130E;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 10;
  position: relative;
  top: 0;
}

.footer {
  font-size: 16px;
  color: #DEC09C;
  font-weight: 400;
  height: 103px;
  display: flex;
  align-items: center;
}

.footer__copyright {
  width: 100%;
}

.footer__logoWrapper {
  position: relative;
  max-width: 716px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.footer__logoWrapper-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 728px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  justify-content: flex-end;
}

.footer__links-item {
  text-decoration: underline;
}

.footer__links-item:hover {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .footer__logoWrapper-logo {
    max-width: 518px;
  }
}

@media screen and (max-width: 991px) {
  .footerSection {
    background-position: center top;
  }

  .footer__logoWrapper-logo {
    max-width: 300px;
  }

  .footer {
    height: 73px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 660px) {
  .footer__logoWrapper {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__links {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .footerSection {
    padding: 10px 0;
  }
}
