.roadmapSection {
  background-color: #21130E;
  position: relative;
  background-image: url("../tokenomics/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1920px) {
  .roadmapSection__gradientContainer {
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 1920px;
  }

  .roadmapSection__leftGradient {
    position: absolute;
    height: 100%;
    left: -50%;
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(90deg, #21130E 0%, #21130E 50%, #21130E 80%, rgba(255, 255, 255, 0) 100%);
  }

  .roadmapSection__rightGradient {
    position: absolute;
    height: 100%;
    right: -50%;
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(270deg, #21130E 0%, #21130E 50%, #21130E 80%, rgba(255, 255, 255, 0) 100%);
  }
}

.roadmap {
  padding: 150px 0;
}

.roadmap__header {
  max-width: 870px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.roadmap__header-text {
  font-size: 18px;
  color: #DEC09C;
  line-height: 150%;
}

.roadmap__steps {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  margin-top: 140px;
}

.roadmap__steps-rope {
  position: absolute;
  top: 10px;
}

.roadmap__steps-itemWrapper {
  position: relative;
}

.roadmap__steps-itemWrapper-item {
  max-width: 313px;
  width: 100%;
  background-color: #DEC09C;
  padding: 70px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.roadmap__steps-itemWrapper-header {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.roadmap__steps-itemWrapper-bottomBorder {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .roadmap__steps {
    gap: 10px;
  }

  .roadmap__steps-item-arrow {
    width: 40px;
  }

  .roadmap__steps-itemWrapper-item {
    padding-top: 40px;
  }

  .roadmap__steps-itemWrapper-header {
    top: -55px;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .roadmap__steps {
    flex-direction: column;
  }
  .roadmap__steps-itemWrapper-item {
    max-width: unset;
  }

  .roadmap__steps-itemWrapper-item-ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  .roadmap__steps-item-arrow {
    width: 40px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    margin: -20px auto 50px auto;
  }

  .roadmapSection {
    background-image: url("../roadmap/img/bg-mobile.jpg");
  }
}
